# Datos
data/

# Archivos grandes
*.csv
*.xlsx
*.xls
*.mpx
*.pdf
*.pptx

# Excepciones (sí subir estos archivos)
!LLAN0095_total.csv
!Caudal LLAN0095.xlsx
!Coeficientes.xlsx

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# VS Code
.vscode/

# Variables de entorno
.env
